// a{
//     color: #333;
//     text-decoration: none;
// }

// h1{
//     font-size: $fs-h1;
// }
// h2{
//     font-size: $fs-h2;
// }

// h3{
//     font-size: $fs-h3;
// }

// h4{
//     font-size: $fs-h4;
// }

// h5{
//     font-size: $fs-h5;
// }
a{
    color: #333;
    text-decoration: none;
}
body {
    font-family: $body-font
}
h1, h2, h3, h4, h5, h6 {
    font-family: $title-font;
}