// $primary-color : rgb(250,88,20);
$primary-color : rgb(46,49,146);
// $secondary-color :rgb(230,25,55);
$title-font:'Lora', serif;
$body-font: 'Open Sans', sans-serif;


$fs-h1 : 3.8rem;
$fs-h2 : 2.5rem;
$fs-h3 : 1.5rem;
$fs-h4 : 1.18rme;
$fs-h5 : 1rem;

